body{
    /* background:rgba(0, 0, 0, 0.5)url(images/sad.jpg); */
    background:rgba(0, 0, 0, 0.5)url(images/1.jpg);
    background-size: 200px 200px;
    background-blend-mode: darken;
}
ul{
    font-family:Georgia, 'Times New Roman', Times, serif;
    float: right;

}
ul li{
    display: inline-block;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}
ul li a:hover{
    background-color:red;
    color: white;
    transition:0.3s ease-in;
}

.button{
    display: inline-block;
    font-size: 20px;
}
.button a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid white;
}
.button a:hover{
    background-color:red;
    color: white;
    transition:0.3s ease-in;
}

.maps iframe{
    height: 400px;
    width: 800px;
    margin-left: 20%;
    margin-top: 30px;
}

h3{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

section {
    height: 100vh;
    width: 100%;
    background:rgba(0, 0, 0, 0.5)url(images/1.jpg);
    background-size:cover;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #ffffff10;
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: rgb(255, 0, 0);
    color: white;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  
  label{
      color: white;
      font-family: sans-serif;
  }
